<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="height" value ="200"/>
      <add key="width" value ="150"/>
      <add key="interval" value ="2"/>
      <add key="codes" value ="sh600327"/>
    </appSettings>
</configuration>